:root {
  /* TYPOGRAPHY */
  --text-small-size: 14px;

  /* COLORS */
  --primary-color: dimgray;

  /* BUTTON STYLES */
  --normal-button-border-style: 1px solid #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: var(--text-small-size);
}
